.app{
  min-height: 100vh;
  background-color: #daeef5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: #6795a5;
}

.tweet:hover{
  transform: scale(1.009) translateY(-10px);
  box-shadow: 0 15px 15px -5px #b2d3dd;
}

.tweet{
  height: 300px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s;
}

